<h2>スケジュール一覧</h2>

<%= javascript_pack_tag %>

<% if flash[:notice]%>
  <p class="notice"><%=flash[:notice]%></p>
<%end%>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>終日</th>
      <th>更新日時</th>
      <th>詳細</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>

  <tbody>
    <% if @users.count>0 %>
    <% @users.each do |user| %>
      <tr>
        <td>
         <%= user.id %>
        </td>
        <td>
         <%= user.title %>
        </td>
        <td>
         <%= user.start_at.strftime("%Y /%m/%d") %>
        </td>
        <td>
         <%= user.end_at.strftime("%Y /%m/%d") %>
        </td>
        <td>
         <% if user.is_all_day %>
         <strong>○</strong>
         <%end%>
        </td>
        <td>
         <%= user.updated_at.strftime("%Y/%m/%d %H:%M") %>

        </td>
        <td>
         <%= link_to"詳細",user %>
        </td>
        <td>
         <%= link_to"編集",[:edit,user] %> 
        </td>
        <td>
          <%= link_to"削除",user_path(user),{method: :delete,data: {confirm:"本当に削除しますか？"}}%>
        </td>
      </tr>
    <% end %>
   <%else%>
     <td colspan="9">現在登録しているスケジュールはありません</td>
   <% end %>    
  </tbody>
</table>

<p>
 <%= link_to "新規追加", :new_user %>
</p>

<p>
 今日の日付は<%= Time.zone.now.strftime("%Y年%m月%d日") %>です。
</p>

<p>予定の合計：<%= @users.count %>件</p>